/*page*/
@import url(../blocks/page/page.css);

/*vendor*/
@import url(../vendor/normalize.css);
@import url(../vendor/fonts/fonts.css);

/*header*/
@import url(../blocks/header/header.css);
@import url(../blocks/header/__logo/header__logo.css);
@import url(../blocks/header/__line/header__line.css);

/*profile*/
@import url(../blocks/profile/profile.css);
@import url(../blocks/profile/__avatar/profile__avatar.css);
@import url(../blocks/profile/__info/profile__info.css);
@import url(../blocks/profile/__info-container/profile__info-container.css);
@import url(../blocks/profile/__info-heading/profile__info-heading.css);
@import url(../blocks/profile/__info-button/profile__info-button.css);
@import url(../blocks/profile/__info-subtitle/profile__info-subtitle.css);
@import url(../blocks/profile/__add/profile__add.css);
@import url(../blocks/profile/__add-button/profile__add-button.css);

/*elements*/
@import url(../blocks/elements/elements.css);

/*element*/
@import url(../blocks/element/element.css);
@import url(../blocks/element/__image/element__image.css);
@import url(../blocks/element/__text/element__text.css);
@import url(../blocks/element/__like/element__like.css);
@import url(../blocks/element/__delete/element__delete.css);

/*popup*/
@import url(../blocks/popup/__content/popup__content.css);
@import url(../blocks/popup/__container/popup__container.css);
@import url(../blocks/popup/__title/popup__title.css);
@import url(../blocks/popup/__input/popup__input.css);
@import url(../blocks/popup/__save-button/popup__save-button.css);
@import url(../blocks/popup/__close-button/popup__close-button.css);
@import url(../blocks/popup/popup.css);

/*footer*/
@import url(../blocks/footer/footer.css);
@import url(../blocks/footer/__copyright/footer__copyright.css);