@keyframes popupImg-fade {
    from {
      opacity: 0;
      transform: translate(-3%, 3%) scale(0.5);
    }
    to {
      opacity: 1;
      transform: translate(-3%, 3%) scale(1);
    }
  }
  
  
  .popup-img__image {
      max-width: 75vw;
      max-height: 75vh;
      transform:  translate(-3%, 3%);
      animation: popupImg-fade 0.5s ease-in-out;
  }